
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');


body { background-color: #ffedf6; padding: 65px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  height: 300px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border:20px solid #b88806;
}

h1 {
 color: #4f102f;
 font-family: 'Monoton', cursive;
}
h2 {
  color: #b88806;
  font-family: 'Shrikhand', cursive;
}
h3{
 color: #1b5e00;
 font-family: 'Monoton', cursive;
}
p {
  color: #573c49;
  font-family: 'Domine', serif;


}

a {
 color: #5e404f;
